hr{
  margin-top: 10px;
  margin-bottom:10px;
}
a.thumbnail{
  padding:0px;
}
a.thumbnail:hover{
  border: 1px solid crimson;
  text-underline: none;
}
a>img{
  border-radius:3px;
}
a{
  color:black;
  transition: all 0.3s
}
a:hover{
  text-decoration: none;
  color:crimson;
}
.nav-pills>li>a {
  border-radius:0px;
}
.nav-pills>li>a:hover {
  background-color: inherit;
  box-shadow: inset 0 -3px 0 0 palevioletred;
  transition: all 0.1s;

}
.lead{
  margin-top:10px;
}
.pagination li a{
color: black;
}
.pagination li a:hover{
  color: crimson;
}

.pagination .active a{
  background-color: crimson;
  border-color: crimson;
}
.pagination .active a:hover{
  background-color: #b3102e;
  border-color: #b3102e;
}
.logo-big{
  font-size: 25px;
}
.exp1{
  text-align: center;
  margin-bottom: 80px;
}
.exp-back{
  background-image: url("../images/main-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.exp-img{
  width:70px;
  height:70px;
  margin-bottom: 10px;
}
.exp-logo{
  font-size: 40px;
  transition: all 1.0s
}
.exp-logo:hover{
  color:lightcoral;
  transform: scale(1.4);
}
.exp1-head{
  font-size:34px;
}
.exp1-body{
  color:dimgray;
}
.exp1-ele-head{
font-size:24px;
  margin-bottom: 20px;
}
.exp1-ele-body{
  margin-bottom: 30px;
}
.white{
  color: white;
}
.crimson{
  color:crimson;
}
.blue{
  color:dodgerblue;
}
.gray{
  color:gray;
}
.orange{
color:orange;
}
.lightgray{
  color:#f5f5f5
}
.black{
  color:black;
}
.glyphicon-fire{
  top:5px;
  text-shadow: 0 0 2px #FF0000;
}
.glyphicon-bookmark{
  top:5px;
}
.glyphicon-search{
  top: 2px;
}
.glyphicon-arrow-up{
  margin-top:13px;
  margin-right:5px;
  top:5px;
}
.glyphicon-heart{
 top:2px;
}
.glyphicon-remove{
  top:2px;
  transition:all 0.3s
}
.glyphicon-remove:hover{
  color:dimgray;
}
.glyphicon-arrow-down{
  margin-top:13px;
  margin-right:5px;
  top:5px;
}
.nav-ele{
  color:black;
}
.nav-ele-now{
  color:red;
  font-weight: bold;
}
.nav-ele-outfit{
  color:grey;
}
ul li a:hover{
  color:crimson;
}
.cont1{
  margin-top:20px;
}
.cont2{
  margin-bottom:10px;
  margin-top:10px;
  border-bottom: 1px solid gainsboro;
  border-top: 1px solid gainsboro;


}
.cont4{
  margin-top: 20px;
}
.cont1-user-btn{
  text-align: right;
}
.carousel{
  height:auto;
}
.recom-car{
  border:1px solid white;
  border-radius: 5px;
  margin-top:15px;
  padding:10px 5px;
  transition: all 0.4s
}
.recom-car:hover{
  border:1px solid crimson;
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: border 400ms linear;
}
.recom-car-num{
  margin-left:5px;
  margin-right:10px;
  font-weight:bold;
}
.recom-car-name{
  margin-left:15px;

}
.recom-paging{
  float: right;
  margin-top:5px;
}
.btn {
  will-change: opacity, transform;
  transition: all .3s ease-out;
}
.good-img{
  position:relative;
  margin-top:0px;
}
.good-img>img{
  border-radius: 3px;
}
.img-text-right{
  position: absolute;
  top: 12px;
  right: 16px;
}
.img-text-left{
  position: absolute;
  top: 12px;
  left: 16px;
}
.good-cont{
  margin-bottom: 10px;
  margin-top:10px;
  padding-left: 20px;
  padding-right: 20px;
}
.good-paging{
  text-align: right;
  margin-right:10px;
}

.carousel-car{
  font-size:32px;
  text-align: right;
  font-family: "Apple SD Gothic Neo";

}
.carousel-car-detail{
  font-size:15px;
  margin-bottom:90px;
  text-align: right;
  font-family: "Apple SD Gothic Neo";
  color:white;
  text-shadow: 1px 1px dimgray;
}
.carousel-car-detail:hover{
  transition: all .3s ease-out;
}
.car-caption{
  margin-bottom:170px;
  position: absolute;
}
.popular-car-option{
  text-align: right;
  margin-bottom:10px;
}
.popular-car-option-left{
  border-right: 1px solid dimgray;
  padding-right:10px;
  padding-left:10px;
}
.popular-car-option-right {
  padding-left:10px;
  margin-right:10px;
}
.car-caption-rank{
  margin-left:10px;
  position: absolute;
  font-size: 20px;
  z-index: 1;
}
.car-caption-good-number{
  position: absolute;
  z-index: 1;
  top:12px;
  right: 30px;
}

.footer{
  margin-top:30px;
  padding-top: 10px;
  background: linear-gradient(to right, #f3da62, #E27A1D 85%, #FF5654);
}
.footer-copyright{
  margin-top:10px;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255,255,255,0.8);
  background-color: rgba(51,51,51,0.08);
}
.model-name{
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
}
.model-name-btn{
  float:right;
}
.model-name-cont{
  margin-top:10px;
}
.model-ele{
  margin-top:10px;
  font-size: 20px;
  font-family: bold;
}
.model-ele-cont{
 margin-left:20px;
}
.model-spec{
  margin-top:30px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
}
.model-pic{
  margin-top:10px;

}
.model-pic .col-sm-3{
  padding:1px;
}
.nav-tabs li a:hover{
  color:black;
}
.good-info{
  margin-top:15px;
}
.avr-price-text{
  font-family: bold;
  font-size: 20px;
  margin-left:5px;
  margin-right: 20px;
}
.avr-price-num{
  font-size:15px;
}
.reivew-write{
  margin-top:15px;
  margin-bottom:20px;
}
.review-write-btn{
  margin-top:15px;
  margin-bottom:20px;
  float:right;
}
.review-obj{
  margin-top:20px;
  margin-bottom:10px;
  padding-bottom:30px;
  border-bottom:1px solid gainsboro;
}
.review-obj-name{
  margin-left:10px;
}
.review-obj-time{
  margin-left:10px;
  color:dimgray;
}
.review-thumb{
  float:right;
  font-size:15px;
}
.review-obj-text{
  margin-left:20px;
  margin-top:20px;
}
.cmpr-good-wrapper1{
  margin-top:188px;
  margin-left:10px;
  text-shadow: 1px 1px lightgray;
}
.cmpr-good-wrapper2{
  margin-top:20px;
  margin-left:10px;
}
.cmpr-good-wrapper3{
  margin-top:20px;
  margin-left:10px;
}
.cmpr-good-ele{
  font-size:16px;
  margin-bottom: 3px;
}
.cmpr-divider{
  height:900px;
  border-right: solid 1px lightgray;
  margin-bottom:20px;
}
.cmpr-good-name{
  margin-top:10px;
}
.cmpr-good-name-sub{
margin-top:25px;
}
.cmpr-none{
  margin-top:320px;
}
.cmpr-vacancy{
  color:dimgray;
}
.cmpr-table{
  border: 1px solid lightgray;
}
.seller-loc{
  margin-top:20px;
  margin-bottom:20px;
  width:300px; height:300px; border: 1px solid black;
}
.go-cmpr{
  margin-top:10px;
}
.likes-wrapper{
  margin-bottom:20px;
 }
.likes-ele{
  border-bottom: 2px solid darkorange;
  padding-bottom: 5px;
  font-size: 15px;
  text-shadow: 1px 1px lightgray;
}
.likes-object-ele{
  margin-top:50px;

}
.likes-object-wrapper{
  padding-top:10px;
  padding-bottom: 10px;
}
.likes-object-wrapper:hover{
  background-color:whitesmoke;
  transition: all .1s ease-out;
}
.search-panel{
  border: solid 1px lightgray;
  padding-bottom: 20px;
  padding-top:10px;
  margin-bottom:30px;
  box-shadow: 1px 1px 4px lightgray;
}
.panel-name{
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
  font-size:16px;
  text-shadow: 1px 1px lightgray;
}
.panel-check{
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
}
.panel-check-ele{
  margin-left:10px;
  margin-bottom:10px;
}
.choose-all{
  margin-left:20px;
  margin-right:20px;
}
.p0{
  padding:0px;
}
.plr{
  padding-left: 10px;
  padding-right: 10px;
}
.plr0{
  padding-left: 0px;
  padding-right: 0px;
}
.mt5{
  margin-top:5px;
}
.mt3{
  margin-top:3px;
}
.fa-img{
  margin-right:5px;
}
.login-ele{
  margin-top:10px;
}
.sheet{
  margin-top:20px;
  margin-bottom:20px;
  padding:30px;
  box-shadow: 0px 1px 3px lightgray;
  border: 1px solid lightgray;
}
.mb0{
  margin-bottom:0px;
}
.mb10{
  margin-bottom:10px;
}
.mt0{
  margin-top: 0px;
}
.mb50{
  margin-bottom:50px;
}
